.basic-info-section {
  padding-top: 10px;

  .beds-rating-wrapper {
    padding-bottom: 25px;

    & > div {
      padding: 5px 0;
    }

    .fa {
      margin-right: 20px;
      font-size: 30px;
      vertical-align: middle;
    }

    .fa-star {
      color: #FFE500;
    }

    span {
      font-size: 16px;
      top: 1px;
      position: relative;
    }
  }

  .info-wrapper {
    padding-bottom: 25px;
  }

  @media (min-width: $screen-desktop) {
    .btn {
      margin-top: -100px;
    }
  }
}
