.breadcrumbs-header {
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .breadcrumbs {
    overflow: hidden;
    width: 100%;
    background: #eee;
    overflow: hidden;
    width: 100%;

    li{
      float: left;
      border: 1px solid #ddd;
    }

    a {
      padding: .7em 1em .7em 2em;
      float: left;
      text-decoration: none;
      color: #444;
      position: relative;
      text-shadow: 0 1px 0 rgba(255,255,255,.5);
      background-color: #ddd;
      background-image: linear-gradient(to right, #f5f5f5, #ddd);
    }

    li:first-child a {
      padding-left: 1em;
      border-radius: 5px 0 0 5px;
    }

    a:hover {
      background: #fff;
    }

    a::after,
    a::before {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -1.5em;
      border-top: 1.5em solid transparent;
      border-bottom: 1.5em solid transparent;
      border-left: 1em solid;
      right: -1em;
    }

    a::after{
      z-index: 2;
      border-left-color: #ddd;
    }

    a::before {
      border-left-color: #ccc;
      right: -1.1em;
      z-index: 1;
    }

    a:hover::after{
      border-left-color: #fff;
    }

    .current,
    .current:hover{
      font-weight: bold;
    }
  }
}