.hero-section {
  width: 100%;
  overflow: hidden;

  .content-container {
    padding: 10px;
    position: absolute;
    z-index: 1;
    color: #eee;

    text-shadow: 0 0 1px black;
  }

  .slider {
    img {
      width: 100%;
      height: 500px;
    }
  }

  .slick-next::before,
  .slick-prev::before {
    opacity: 1;
    text-shadow: 0 0 1px black;
  }

  .slick-next {
    right: 15px;
  }

  .slick-prev {
    left: 15px;
  }

  .slick-dots {
    bottom: 10px;

    button::before {
      color: white;
      opacity: 1;
      text-shadow: 0 0 1px white;
    }
  }

  @media (max-width: $screen-md-max) {
    .slider {
      height: 400px;
      img {
        height: 400px;
      }
    }
  }

  @media (max-width: $screen-sm-max) {

    h2 {
      font-size: 20px;
    }

    h3 {
      font-size: 16px;
    }

    .slider {
      height: 300px;
      img {
        height: 300px;
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    .slider {
      height: 250px;
      img {
        height: 250px;
      }
    }
  }
}