.room-types-section {
  padding-top: 20px;

  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .room-option {
    display: inline-block;
    width: 100%;

    a {
      padding: .7em 1em .7em 2em;
      float: left;
      text-decoration: none;
      color: #444;
      position: relative;
      text-shadow: 0 1px 0 rgba(255,255,255,.5);
      background-color: #ddd;
      background-image: linear-gradient(to right, #f5f5f5, #ddd);
      width: 100%;
    }

    a:hover {
      background: lighten(#ddd, 10%);
      background-image: linear-gradient(to right, #f5f5f5, lighten(#ddd, 10%));
    }

    a::after,
    a::before {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -1.5em;
      border-top: 1.5em solid transparent;
      border-bottom: 1.5em solid transparent;
      border-left: 1em solid;
      right: -1em;
    }

    a::after{
      z-index: 2;
      border-left-color: #ddd;
    }

    a::before {
      border-left-color: #ccc;
      right: -1.1em;
      z-index: 1;
    }

    a:hover::after,
    a:hover::before {
      border-left-color: #f5f5f5;
    }

    &.current {
      font-weight: bold;
      a {
        background-image: none;
      }
    }

    &.current:hover{
      background: none;
    }

    &.current::after {
      border-left-color: white;
      background: none;
    }
  }
}