.room-info {
  padding: 0 20px;
  opacity: 0;

  &.visible-anim {
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
  }

  .room-image-wrapper {
      width: 178px;
      margin-right: 20px;
      display: inline-block;
      position: relative;
      cursor: pointer;
      float: left;

    img {
      width: 100%;
      max-height: 110px;
    }

    .cover {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display:none;
      background: rgba(0, 0, 0, 0.34);
    }

    &:hover .cover {
      display:block;
    }
  }

  .room-heading {
    display: inline-block;
  }

  .room-content {
    padding: 20px 0;
  }

  .fa-share-alt {
    margin-right: 20px;
    font-size: 25px;
    vertical-align: middle;
    color: $brand-success;
  }

  .facilities-list {
    .facility {
      padding-top: 10px;
      padding-bottom: 10px;
      min-width: 5%;
      float: left;

      .fa {
        font-size: 20px;
        vertical-align: middle;
        padding-right: 10px;
        color: $brand-success;
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    padding: 0;

    img {
      padding-top: 10px;
    }
  }
}